# ignoring top-level .tsl files, because they are usually local test files
/*.tsl

.DS_Store
tags
dist
dist-newstyle
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.virtualenv
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.pdf
.commit
.stack-work
stack.yaml.lock
*.cabal